<div class="container text-center mt-5">
  <div class="jumbotron">
    <h1 class="display-4">¡Bienvenido a mi página de libros!</h1>
    <p class="lead">Una aplicación para gestionar libros y autores</p>
    <hr class="my-4">
    <p>Explora nuestra colección de libros o gestiona los autores</p>
  </div>
</div>
